<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #ffffff;}
.s2 { color: #54b33e;}
.s3 { color: #ebebeb;}
</style>
</head>
<body bgcolor="#131314">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:weightSum</span><span class="s2">=&quot;10&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvsec&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;47&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;viewEnd&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;bottom&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/TextView&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvmain&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;47&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;50sp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;viewEnd&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;bottom&quot;</span>
        <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;2&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;/TextView&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;7&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:weightSum</span><span class="s2">=&quot;7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bac&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;AC&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bc&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;C&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bb1&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;(&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bb2&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;)&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;5&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsin&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;sin&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bcos&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;cos&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btan&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;tan&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/blog&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;log&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bln&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;ln&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;25sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;5&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bfact&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;x!&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsquare&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;x^2&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;26sp&quot;</span>
                        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsqrt&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;√&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/binv&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;1/x&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bdiv&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;÷&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b7&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;7&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b8&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;8&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b9&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;9&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bmul&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;×&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b4&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;4&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b5&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;5&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b6&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bmin&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;-&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b1&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b2&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;2&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b3&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;3&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bplus&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;+&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:weightSum</span><span class="s2">=&quot;4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bpi&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Π&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/b0&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;0&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bdot&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;.&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>
                    <span class="s0">&lt;Button</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bequal&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;=&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;30sp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;#000&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#ffa500&quot;</span>
                        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;/Button&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

<span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>